{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/home/bodia/phpShtorm/work/symfony7app/src/Controller/BlogController.php</code></li>
        <li>Your template at <code>/home/bodia/phpShtorm/work/symfony7app/templates/blog/index.html.twig</code></li>
    </ul>

    <div>
        <span> Type = {{ type }}</span>
    </div>
    <div>
        <span> request = {{ request }}</span>
    </div>
    <div>
        <ul>
            <li><a href="{{ signUpPage }}">Sign up page</a></li>
            <li><a href="{{ signUpPageAbs }}">Sign up page Absolute</a></li>
            <li><a href="{{ signUpPageInDutch }}">Sign up page in Ducth Locale</a></li>
            <li><a href="{{ userProfilePage }}">user profile</a></li>
            <li><a href="{{ signedUrl }}">Signed URL</a></li>
        </ul>
    </div>
    <div>
        {{ url }}
    </div>
</div>
{% endblock %}
